<% return unless dash.dashboard_widgets.count == 0 %>

<li class="gs-w gs-w-no-resize" style="padding:0 20px;"
        data-col="1" data-row="1"
        data-sizey="1" data-min-sizey="1" data-max-sizey="1"
        data-sizex="2" data-min-sizex="2" data-max-sizex="2" >
    <div class="widget-resize-hook">
        <h3>Welcome to <%= Settings.site.name %></h3>
        <p>
            You haven't added anything to your dashboard yet.
        </p>
        <br/>
        <%= link_to ls_reports_path, :class=>'btn btn-success' do %>
            View Reports
            <i class="fa fa-external-link"></i>
        <% end %>
    </div>
</li>
