<div class="role-chart-container hidden-print" >
    <label for="dropdown<%= question.qid %>" >Graph Type:</label>
    <select class="role-chart-options" id="dropdown<%= question.qid %>" >

        <option  value="column">Column</option>
        <option  value="bar">Bar</option>
        <option  value="line">Line</option>
        <option  value="spider">Spider</option>
        <option  value="scatter">Scatter</option>
        <option  value="spline">Spline</option>
    </select>
</div>
