@import 'variables';

.login-photo img {
  display: block;
  margin: auto;
  height: 190px;
  width:auto;
}

.login-logo img{
  display: block;
  margin: auto;
  width:100%;
}

.y2-padding {
  padding-top: ($spacer * .5) !important;
  padding-bottom: ($spacer * .5) !important;
}
